<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.mapper.SupportMapper">
    <cache />
    <select id="getNewSupportId" resultType="int">
        SELECT COUNT(*) FROM Support;
    </select>
    <insert id="insertSupport">
        INSERT INTO Support (supportId,supportDate,supportItemId, category, creditcard, exprdate, cardtype, billtofirstname, billtolastname, amount)
        VALUES(#{supportId},#{supportDate},#{supportItemId}, #{supportCategory}, #{creditCard}, #{expiryDate}, #{cardType}, #{billToFirstName}, #{billToLastName}, #{amount})
    </insert>
    <update id="updateSupportAmount">
        UPDATE adoptitem SET supportamount= supportamount + #{amount} WHERE itemid=#{supportItemId}
    </update>

    <select id="getLastSupport" resultType="Support">
        SELECT * from Support ORDER BY supportDate desc LIMIT 1
    </select>


</mapper>